@font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: normal;
    src: url('./OpenDyslexic-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


body {
    font-family: 'OpenDyslexic', serif;
    font-size: 1.2em;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    text-align: center;
}

.container {
    display: grid;
}

h1,
h2,
h3,
p {
    animation: fadeIn 2s;
}

img {
    transition: 3s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.backgroundRotate {
    position: absolute;
    animation: rotation 60s infinite linear;
    top: 20vh;
    left: 10vw;
    z-index: -10;
    opacity: 0.7;
}

div {
    margin: 5px;
}

a:link {
    text-decoration: none;
    color: aqua;
}

a:visited {
    text-decoration: none;
    color: rgb(123, 255, 255);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 255, 183);
}

a:active {
    text-decoration: none;
    color: rgb(54, 255, 171);
}